/* budget_details table */
table.list_activities {
    border: 1px solid #ccc;
    margin-top: 10px;
}
table.list_activities tr td, table.list_activities tr th {
    border: 1px solid #ccc;
}
table.list_activities tr th {
    padding: 2px 4px;
    font-weight: bold;
    background: #DFDFDF url(../img/gray-grad.png) repeat-x left top;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
}
.center {
    text-align: center;
}
.description,
.result
{
    width: 140px;
    height: 30px;
}
tr.add_description_row td {
    background: #f0f0f0 !important;
}
.list_activities .up {
    display: inline-block;
    width: 16px;
    height: 12px;
    background: transparent url(../img/up.gif) top left no-repeat;
}
.add_description_row .add_description, #add_row, #del_row {
    font-family: verdana;
    font-weight: bold;
    text-shadow: #efefef 1px 1px 2px;
}
.list_activities .activity_id {
    width: 200px;
}
.list_activities .description,
.list_activities .result
{
    width: 250px;
}
.nowrap {
    white-space: nowrap;
}
