#tablegrid_act_lists div.activities {
    margin-bottom: 0;
}
#tablegrid_act_lists div.activities ol,
#tablegrid_act_lists div.activities ol li
{
    list-style-type: upper-roman;
    margin-left: 10px;
}
#tablegrid_act_lists div.activities ul,
#tablegrid_act_lists div.activities ul li
{
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    list-style-type: none;
}
#tablegrid_act_lists div.activities ol ol,
#tablegrid_act_lists div.activities ol li li
{
    list-style-type: decimal;
    margin-left: 10px;
}
.numeric {
    text-align: right !important;
}
.no {
    text-align: center !important;
}
.honor_header {
    padding-left: 0 !important;
    border: none !important;
    text-align: left !important;
    float: left
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.noborder {
    border: none !important;
}
