#tablegrid_activities div.activities {
    margin-bottom: 0;
}
#tablegrid_activities div.activities ol,
#tablegrid_activities div.activities ol li
{
    list-style-type: decimal;
    margin-left: 10px;
}
#tablegrid_activities div.activities ol ol,
#tablegrid_activities div.activities ol li li
{
    list-style-type: decimal;
    margin-left: 10px;
}
