table.section tr td,
table.section tr th
{
    border: 1px solid #ccc;
    padding: 4px;
}
table.section tr h3 {
    font-size: 12px;
    font-weight: bold;
}
table.section tr h4 {
    font-weight: bold;
}
table.section tr .no {
    border-top: none;
    border-bottom: none;
}
table.section tr .no.last {
    border-bottom: 1px solid #ccc;
}
table.section .inputText {
    width: 250px;
}
table.section tr td.prepend-1 {
    padding-left: 28px;
}
table.section tr td.prepend-2 {
    padding-left: 56px;
}
.center { text-align: center; }
input.numeric { text-align: center; }
