body {
    font-size: 11px;
}
#custom-doc {
    min-width:750px;
    width:95%;
}
h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
span {
    display: block;
}
strong {
    font-weight: bold;
}
ul, ul li {
    list-style-type: square;
    font-size: 18px;
    font-weight: bold;
}
li span.lLabel {
    display: inline-block;
    min-width: 200px;
}
li span.rValue {
    display: inline-block;
    text-align: right;
    min-width: 200px;
}
.label {color: #333;}
.val {color: #333; font-weight: bold;}
#printhtml {text-align: auto; margin: 0 auto;}
table {
    width: auto;
    border-collapse:collapse;
}
table.separate {
    width: 100%;
    border-collapse:separate;
}
table tr td, table tr th {
    border: 1px solid #000;
    padding: 4px 5px;
    vertical-align: center;
}
table.noborder tr td {
    border: none;
    width: auto;
}
table tr td.whiteborder, table tr th.whiteborder {
    border-color: #fff;
}
table tr td.bold {
    font-weight: bold;
    font-size: 14px;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.numeric {
    text-align: right;
}
.pad {
    display:block;
    float:left;
    margin:0;
    padding:0 10px 0 0;
    text-align:right;
    width:2%;
    color: #ffffff !important;
}
.afterPad {
    float:left;
    display:block;
    margin:0;
    padding:0;
}
.clear {
    clear:both;
}
#legend {padding: 10px 0;}
