<table>
<?php if ( !empty($students) ):?>
    <?php foreach ($students as $student):?>
        <?php
            echo '<tr>';
            echo '<td><input class="student_id" type="checkbox" value="' . $student['Student']['id'] . '" /></td>';
            echo '<td class="nowrap">' . $student['Student']['name'] . ' (' . $student['Student']['npm'] . ')' . '</td>';
            echo '</tr>';
        ?>
    <?php endforeach;?>
<?php endif;?>
</table>
<span class="label">Centang yang tidak hadir</span>
